body {
    background-color: #43484D;
    font: 12px Arial;
}
.axis-x, .axis-y {
    fill: none;
}
.background-lines {
    stroke-width: .75px;
    stroke: #9ca4ab;
}
.axis-labels {
    font-size: 11px;
}
.y-label {
    text-anchor: end;
}
.x-label {
    text-anchor: middle;
}
.operation {
    opacity: 1;
    fill: none;
    stroke-width: 2px;
}
.legend-box {
    stroke-width: 1.5px;
    fill-opacity: 1;
}
.legend-opname {
    font-size: 11px;
}
.legend-opcount {
    font-size: 11px;
}
.focus {
    stroke: white;
    fill: white;
    font-size: 11px;
    text-anchor: middle;
}
.overlay-line {
    stroke-width: 1.5px;
}
.overlay-bubbles {
    stroke: none;
}