body {
    background-color: #43484D;
    font-family: Akzidenz-Grotesk Std;
    font-weight: 500;
    text-transform: uppercase;
    color: #9ca4ab;
}
/*#opCounterContainer, #networkContainer, #memContainer, #globalLockContainer {*/
    /*background-color:pink;*/
/*}*/

.axis-x, .axis-y {
    fill: none;
}
.background-lines {
    stroke-width: 1px;
    stroke: #9ca4ab;
}
.axis-labels {
    font-size: 11px;
}
.y-label {
    text-anchor: end;
    fill: #9ca4ab;
}
.x-label {
    text-anchor: middle;
    fill: #9ca4ab;
}
.operation {
    opacity: 1;
    fill: none;
    stroke-width: 2px;
}
.legend-box {
    stroke-width: 2px;
    fill-opacity: 1;
}
.legend-opname {
    font-size: 11px;
    fill: #9ca4ab;
}
.legend-opcount {
    font-size: 15px;
    fill: white;
}
.focus {
    stroke: white;
    fill: white;
    font-size: 11px;
    text-anchor: middle;
}
.overlay-line {
    stroke-width: 1px;
}
.overlay-bubbles {
    stroke: none;
}
.insert {
    stroke: #58DECC;
    fill: #58DECC;
}
.query {
    stroke: blue;
    fill: blue;
}
.update {
    stroke: #9478C6;
    fill: #9478C6;
}
.delete {
    stroke: #A33A35;
    fill: #A33A35;
}
.command {
    stroke: #C7E82F;
    fill: #C7E82F;
}
.getmore {
    stroke: #45BAAB;
    fill: #45BAAB;
}
